$bg-color: #720026;

$bg-color-darker: #4f000b;

$bg-color-lighter: #ce4257;

$text-color: #fcf7f8;

$text-highlight-gold: #ff7f51;

$coin-text-color: #edf2f4;

$price-color-negative: #461220;

$price-color-positive: #27a300;

$searchbar-input-text-color: #8d99ae;

$font-opensans: "Open Sans", sans-serif;
