@import "base";

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $bg-color-lighter;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $bg-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $bg-color-darker;
}
